:root {
  --my-gray01: #171717;
  --my-gray02: #212121;
  --my-gray03: #676767;
  --my-purple01: #a91dff;
  --my-purple02: #f01eff;
  --my-purple03: #8a00ff;
  --my-purple04: #4a0685;
  --my-blue01: #62ffff;
  --my-blue02: #4100fe;
  --my-white01: #fff;
  --my-white002: #e4e4d4;
  --my-vanilla01: #F3E5AB;
}

.navbar-background-color {
  background-color: var(--my-gray01);
}

body {
  background-color: var(--my-gray02);
}

.light-mode {
  background-color: var(--my-white02);
}

.light-mode .navbar-background-color {
  background-color: var(--my-purple04);
}

.light-mode-button {
  background-color: var(--my-white01);
  color: #000000;
}

.submit-button {
  background-color: var(--my-purple03);
  color: var(--my-white01);
}

.submit-button:hover {
  background-color: var(--my-purple02);
  color: #fff;
}

.game-messages {
  color: #fff;
}

.game-messages p,
.game-messages div {
  border: 1px solid #ccc;
  background-color: var(--my-gray03);
  padding: 1.05em 16px;
  border-radius: 16px;
  font-size: 1.5cap;
  text-align: center;
  justify-content: center;
}

.game-messages div p {
  border: none;
  background-color: transparent;
  padding: 0;
}

.group-message {
}

.genre-message {
}

.home-footer {
  color: #fff;
  text-decoration: none;
}
.home-footer div ul li a {
  color: var(--my-purple01);
  text-decoration: none;
}

.home-footer div ul li a:hover {
  color: var(--my-purple02);
}

@media (max-width: 993px) {
  .mobile-image {
    display: block;
  }

  .desktop-image {
    display: none;
  }
}

@media (min-width: 994px) {
  .mobile-image {
    display: none;
  }

  .desktop-image {
    display: block;
  }
}

.all-bands-heading {
  text-align: center;
}

.band-card {
  text-shadow: 1px 1px 2px #000000, 0 0 1em transparent, 0 0 0.2em transparent;
}